In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

In [2]:
df1 = pd.read_csv("x.csv")

In [3]:
df1

             x
0   140.163772
1   140.430310
2   140.932133
3   141.770520
4   140.004205
..         ...
95  141.493272
96  140.638186
97  140.525210
98  141.527176
99  141.012333

[100 rows x 1 columns]

In [4]:
df2 = pd.read_csv("y.csv")

In [5]:
df2

           y
0   1.067574
1   0.604350
2   0.539226
3  -0.764813
4   1.457074
..       ...
95 -0.371576
96  1.365183
97  0.754737
98 -0.583647
99 -0.195216

[100 rows x 1 columns]

In [6]:
df3 = pd.concat([df1,df2],axis=1)

In [7]:
df3

             x         y
0   140.163772  1.067574
1   140.430310  0.604350
2   140.932133  0.539226
3   141.770520 -0.764813
4   140.004205  1.457074
..         ...       ...
95  141.493272 -0.371576
96  140.638186  1.365183
97  140.525210  0.754737
98  141.527176 -0.583647
99  141.012333 -0.195216

[100 rows x 2 columns]

In [8]:
X = df1
Y = df2

In [9]:
X = sm.add_constant(X)

In [10]:
model = sm.OLS(Y, X).fit()

In [11]:
predictions = model.predict(X)

In [12]:
print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.644
Model:                            OLS   Adj. R-squared:                  0.640
Method:                 Least Squares   F-statistic:                     177.0
Date:                Wed, 04 Mar 2020   Prob (F-statistic):           1.10e-23
Time:                        15:32:39   Log-Likelihood:                -32.305
No. Observations:                 100   AIC:                             68.61
Df Residuals:                      98   BIC:                             73.82
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         95.4363      7.142     13.363      0.000      81.263     109.609
x             -0.6748      0.051    -13.303      0.000      -0.775      -0.574
==============================================================================
Omnibus:                        1.509   Durbin-Watson:                   2.127
Prob(Omnibus):                  0.470   Jarque-Bera (JB):                1.572
Skew:                           0.261   Prob(JB):                        0.456
Kurtosis:                       2.676   Cond. No.                     2.98e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.98e+04. This might indicate that there are
strong multicollinearity or other numerical problems.